<script setup lang="ts">
// import { useNotification } from "@/components/notifications/notify"
import anime from "animejs";
import { ref, type Ref, computed, shallowRef, watch } from "vue";
// import { useKeyCombo } from "@rwh/vue-keystrokes"
import { useAnimationsStore } from "@/stores/animations"
// import { useCommandsStore } from "@/stores/commands"
// import { useTreeStore } from "@/stores/tree"
// import MoveElement from "@/commands/MoveElement"
// import getObjectAt from "@/utils/getObjectsAt"
import PanelElement from "@/components/panels/PanelElement.vue"

const animationsStore = useAnimationsStore()
// const commandStore = useCommandsStore()
// const treeStore = useTreeStore()
// const { notify } = useNotification()

type Tween = {
  delay: number,
  duration: number,
  end: number,
  endDelay: number,
  isColor: boolean,
  isPath: boolean,
  round: number,
  start: number,
  value: number
}

type PropertyAnimation = {
  label: string,
  duration: number,
  delay: number,
  endDelay: number,
  type: string,
  keyframes: Tween[]
}

const animationChildrenLength = computed(() => animationsStore.childrenLength);
const animationChildren = shallowRef([]);
watch(
  animationChildrenLength,
  (nValue, oldValue) => {
    console.log("Animation: updating chidren ", nValue, oldValue);
    animationChildren.value = animationsStore.timeline.children.map((c) => ({
      element: c,
      "data-id": c.animatables[0].target.getAttribute("data-id")
    }))
  }
)
// necessary, otherwise vue wont update component
// https://medium.com/emblatech/ways-to-force-vue-to-re-render-a-component-df866fbacf47

// watch(animationChildrenLength, async () => {
//   updateComponent.value = true;
//   console.log(updateComponent.value);
//   await nextTick();
//   updateComponent.value = false;
//   console.log(updateComponent.value);
// });

const animationsByProperty = (animations: anime.Animation[]) => animations.reduce((acc, animation) => {
    if (acc.find((p: any) => p.label === animation.property)) return acc
    const propertyObject = {
      label: animation.property,
      duration: animation.duration,
      delay: animation.delay,
      endDelay: animation.endDelay,
      type: animation.type,
      keyframes: animation.tweens
    };
    acc.push(propertyObject);
    return acc
  }, [])
const durationToPercentage = (property: PropertyAnimation, keyframe: any) => {
  const percent = (keyframe.end/property.duration)*100
  return `${percent}%`
}
// const animationIsUpdated = computed(() => animationsStore.isUpdated);

// const rightClickOpened: Ref<boolean> = ref(false)
// const menuPosition: Ref<{ x: number; y: number }> = ref({ x: 0, y: 0})
// const elements = computed(() => treeStore.elements.filter((e) => e.parentElement.id === 'main-scene'))
// const treeItems = computed(() => ({
//   id: "root",
//   children: elements.value.reduce((acc, e) => {
//     acc = acc.concat(elementsToTreeView(e))
//     return acc
//   }, [])
// }))
// const selected = computed(() => treeStore.historizedSelected.selected);

// let target: Ref<string | null> = ref(null)

const open: Ref<boolean> = ref(false);
const emits = defineEmits([ "open" ]);

const onLeftClick = () => {
  open.value = !open.value
  emits("open")
}

const keyframeData = {
  dragging: false,
  start: 0,
  end: 0,
  x: 0,
  left: "",
  keyframe: null,
  element: null,
  property: null,
  parentWidth: null
}

const onDragStartKeyframe = (property: PropertyAnimation, keyframe: Tween, mouseEvent: MouseEvent) => {
  // console.log(mouseEvent)
  keyframeData.start = mouseEvent.clientX
  keyframeData.dragging = true
  keyframeData.property = property
  keyframeData.keyframe = keyframe
  keyframeData.element = mouseEvent.target

  const elementLeft = window.getComputedStyle(keyframeData.element).left
  const parent = keyframeData.element.parentElement
  const parentWidth = window.getComputedStyle(parent).width

  keyframeData.left = elementLeft
  keyframeData.parentWidth = parseFloat(parentWidth)

  window.addEventListener("mousemove", onDragKeyframe)
  window.addEventListener("mouseup", onDragEndKeyframe)
}
const onDragKeyframe = (mouseEvent: MouseEvent) => {
  // console.log(mouseEvent)
  const delta = keyframeData.start - mouseEvent.clientX
  console.log(delta)
  const deltaOnParentSize = delta/keyframeData.parentWidth
  keyframeData.left = `${-deltaOnParentSize * 100}%`
  console.log(deltaOnParentSize)
  const timeFromDeltaOnParentSize = deltaOnParentSize*keyframeData.property.duration
  console.log(timeFromDeltaOnParentSize)
  keyframeData.element.style.left = keyframeData.left
}
const onDragEndKeyframe = (mouseEvent: MouseEvent) => {
  // console.log(mouseEvent)
  keyframeData.end = mouseEvent.clientX
  keyframeData.dragging = false
  keyframeData.element = null
  keyframeData.property = null
  keyframeData.keyframe = null
  keyframeData.parentWidth = null
  keyframeData.left = ""

  window.removeEventListener("mousemove", onDragKeyframe)
  window.removeEventListener("mouseup", onDragEndKeyframe)
}

</script>

<template>
  <PanelElement
    class="animation-panel"
    :class="{
      open
    }"
  >
    <template #header>
      <div class="animation-panel__header">
        <div class="flex">
          <h5>Animation</h5>
          <div
            class="arrow"
            :class="{
              up: !open
            }"
            @click.left="onLeftClick"
          />
        </div>
      </div>
    </template>
    <template #body>
      <div class="animation-panel__body">
        <div
          v-for="child in animationChildren"
          :key="`${child['data-id']}-container-${animationChildrenLength}`"
          class="animation-keyframes-container"
        >
          <div class="name-list-container">
            <ul 
              class="name-list"
            >
              <li
                :key="`${child['data-id']}-name-${animationChildrenLength}`"
              >
                <span>{{ child['data-id'] }}</span>
              </li>
            </ul>
            <ul 
              class="property-list"
            >
              <li
                v-for="property in animationsByProperty(child.element.animations)"
                :key="`${child['data-id']}-${property.label}`"
              >
                <span>{{ property.label }}</span>
              </li>
            </ul>
          </div>
          <div class="keyframes-container">
            <div class="keyframes-property-name-empty" />
            <ul 
              class="keyframes-list"
            >
              <ul
                v-for="property in animationsByProperty(child.element.animations)"
                :key="`${child['data-id']}-keyframes-${property.label}`"
                class="property-keyframes-container"
              >
                <li
                  v-for="keyframe in property.keyframes"
                  :key="`${child['data-id']}-keyframe-${property.label}-${keyframe.value}`"
                  :style="{
                    left: durationToPercentage(property, keyframe)
                  }"
                  class="keyframe"
                  @mousedown.stop.prevent="(mouseEvent) => onDragStartKeyframe(property, keyframe, mouseEvent)"
                >
                  {{ keyframe.to.original }}
                </li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </template>
    <template #footer />
  </PanelElement>
</template>

<style lang="scss">
.animation-panel {
  --property-height: 36px;
  --keyframe-size: 12px;
  position: relative;
  padding: 0;

  &__header {
    background-color: var(--rich-black);
    border-bottom-width: 2px;
    border-bottom-color: var(--oxford-blue);
    border-bottom-style: solid;

    h5 {
      padding-left: 0;
      margin: 0.4em 0;
      margin-left: 0.8em;
    }
    
    .arrow {
      margin-left: auto;
      margin-right: 1.2em;
    }

    .flex {
      align-items: center;
    }
  }
  &__body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: flex-start;
    height: 100%;
    max-height: 360px;
    overflow: auto;

    .animation-keyframes-container {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
      width: 100%;

      .name-list-container {
        .name-list,.property-list {
          margin: 0;
          padding: 0;
          border-right: 2px solid var(--dark-cyan);
          li {
            height: var(--property-height);
            list-style: none;
            margin: 0;
            padding: 1em 0;
            padding-right: 1.8em;
            padding-left: 1.2em;
            border-bottom: 1px solid var(--dark-cyan);
            text-overflow: ellipsis;
            overflow: hidden;
            word-wrap: break-word;
            white-space: nowrap;
          }
        }
      } 

      .keyframes-container {
        width: 100%;

        .keyframes-property-name-empty {
          height: var(--property-height);
          width: 100%;
        }

        .keyframes-list {
          position: relative;
          margin: 0;
          padding: 0;
          border-bottom: 1px solid var(--oxford-blue);
          
          .property-keyframes-container {
            position: relative;
            margin: 0;
            padding: 0;
            width: calc(100% - var(--keyframe-size));
            height: 36px;
            border-top: 1px solid var(--oxford-blue);
            &::before {
              content: " ";
              position: absolute;
              width: calc(100% + var(--keyframe-size));
              height: 4px;
              background-color: var(--oxford-blue);
              top: 50%;
              transform: translateY(-50%);
            }
            li {
              position: absolute;
              list-style: none;
              margin: 0;
              padding: 0;
              top: 50%;
              transform: translateY(-50%);
              width: var(--keyframe-size);
              height: var(--keyframe-size);
              background-color: var(--imperial-red);
              cursor: grab;
            }
          }
        }
      }
    }
  }
}
</style>
