<script setup lang="ts">
import { Splitpanes, Pane } from "splitpanes"
// import { useNotification } from "@/components/notifications/notify"
import { ref, type Ref, computed, shallowRef } from "vue"
// import { bindKeyCombo } from "@rwh/keystrokes"
// import { useCommandsStore } from "@/stores/commands"
import { useTreeStore } from "@/stores/tree"
// import getObjectAt from "@/utils/getObjectsAt"
import PanelElement from "@/components/panels/PanelElement.vue"
import PositionDisplay from "@/components/displays/PositionDisplay.vue"
import MarginDisplay from "@/components/displays/MarginDisplay.vue"
import TransformDisplay from "@/components/displays/TransformDisplay.vue"


// const commandStore = useCommandsStore()
const treeStore = useTreeStore()
// const { notify } = useNotification()

const panels = shallowRef([
  {
    label: "Position & Size",
    component: PositionDisplay,
  },
  {
    label: "Margin & Paddings",
    component: MarginDisplay,
  },
  {
    label: "Transform",
    component: TransformDisplay
  },
])

</script>

<template>
  <PanelElement
    class="css-panel"
    :class="{ disabled: !treeStore.selected }"
  >
    <!-- <template #header> -->
    <!--   <div class="css-panel__header"> -->
    <!--     <h5>CSS</h5> -->
    <!--   </div> -->
    <!-- </template> -->
    <template #body>
      <div class="css-panel__body">
        <div class="disabled-layer" />
        <Splitpanes
          :first-splitter="true"
          horizontal
        >
          <Pane 
            v-for="panel in panels"
            :key="panel.label"
            min-size="5"
          >
            <h5>{{ panel.label }}</h5>
            <component :is="panel.component" />
          </Pane>
        </Splitpanes>
      </div>
    </template>
    <template #footer />
  </PanelElement>
</template>

<style lang="scss">
.css-panel {
  position: relative;
  padding: 0; 

  &__header {
    background-color: var(--rich-black);
    border-bottom-width: 2px;
    border-bottom-color: var(--oxford-blue);
    border-bottom-style: solid;
    padding: 1rem 1.6rem;
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    height: 100%;

    .splitpanes__pane {
      background-color: var(--rich-black);
      padding-top: 2em;
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }
  }
}
</style>
