<script setup lang="ts">
import { useNotification } from "@/components/notifications/notify"
import { ref, type Ref, computed, watch } from "vue"
import { useKeyCombo } from "@rwh/vue-keystrokes"
import { useCommandsStore } from "@/stores/commands"
import { useTreeStore } from "@/stores/tree"
import MoveElement from "@/commands/MoveElement"
import getObjectAt from "@/utils/getObjectsAt"
import PanelElement from "@/components/panels/PanelElement.vue"
import DOMTreeItem from "@/components/panels/DOMTreeItem.vue"
import DOMMenu from "@/components/menus/DOMMenu.vue"
import { Finder } from "@jledentu/vue-finder";

export interface TreeRouteItem {
  id: string,
  label: string,
  children?: TreeRouteItem[]
}

const elementsToTreeView = (tree: HTMLElement, init = true) => {
  const result = [];
  const name = tree.getAttribute("data-id")
  const item: TreeRouteItem = {
    id: name,
    label: name
  }

  if (init) result.push(item);
  const children = Array.from(tree.children) || [];
  if (children.length > 0) item.children = []
  children.forEach(child => {
    const childResult = elementsToTreeView(child as HTMLElement);
    item.children.push(...childResult)
  })

  return result;
}

const commandStore = useCommandsStore()
const treeStore = useTreeStore()
const { notify } = useNotification()

const rightClickOpened: Ref<boolean> = ref(false)
const menuPosition: Ref<{ x: number; y: number }> = ref({ x: 0, y: 0})
const elements = computed(() => treeStore.elements.filter((e) => e.parentElement.id === 'main-scene'))
const treeItems = computed(() => ({
  id: "root",
  children: elements.value.reduce((acc, e) => {
    acc = acc.concat(elementsToTreeView(e))
    return acc
  }, [])
}))
const selected = computed(() => treeStore.historizedSelected.selected);

let target: Ref<string | null> = ref(null)

const finder = ref<Finder | null>(null)

const onRightClick = (event: MouseEvent) => {
  if (rightClickOpened.value === false) {
    const t: HTMLElement[] = getObjectAt({ x: event.clientX, y: event.clientY }, Array.from(document.querySelectorAll(".dom-tree-item")))
    if (t.length > 0) {
      const moId = t[t.length - 1].getAttribute("data-mo-id")
      target.value = moId as string
    }
  }
  rightClickOpened.value = !rightClickOpened.value
  menuPosition.value.x = event.clientX
  menuPosition.value.y = event.clientY
}

const onMove = ({ moved, to, index }) => {
  commandStore.new(MoveElement(moved, to))
}

watch(selected, (newValue, oldValue) => {
  const expanded = finder.value.$data.treeModel.expanded
  if (newValue === null) expanded.splice(
    expanded.indexOf(oldValue.getAttribute("data-id")),
    1
  )
  else finder.value.expand(newValue.getAttribute("data-id"))
})

const undoIsPressed = useKeyCombo("Control + z")

watch(undoIsPressed, async (keydown) =>  {
  if (keydown) {
    try {
      await commandStore["undo:last"]()
      notify({
        content: "undo"
      })
    } catch (e) {
      notify({
        type: "error",
        content: (e as Error).toString()
      })
    }
  } 
})

const redoIsPressed = useKeyCombo("Control + y")

watch(redoIsPressed, async (keydown) =>  {
  if (keydown) {
    try {
      await commandStore["execute:last"]()
      notify({
        content: "redo"
      })
    } catch (e) {
      notify({
        type: "error",
        content: (e as Error).toString()
      })
    }
  } 
})
</script>

<template>
  <PanelElement
    class="dom-panel"
    @contextmenu.prevent="onRightClick"
  >
    <!-- <template #header> -->
    <!--   <div class="dom-panel__header"> -->
    <!--     <h5>DOM</h5> -->
    <!--   </div> -->
    <!-- </template> -->
    <template #body>
      <div class="dom-panel__body">
        <Transition>
          <DOMMenu
            v-if="rightClickOpened"
            :position="menuPosition"
            :target="target"
            @close="rightClickOpened = false; target = null"
          />
        </Transition>
        <Finder
          ref="finder"
          :tree="treeItems"
          :item-component="DOMTreeItem"
          :drag-enabled="true"
          :has-drag-handle="true"
          :scroll-animation-duration="200"
          @move="onMove"
        />
      </div>
    </template>
    <template #footer />
  </PanelElement>
</template>

<style lang="scss">
.dom-panel {
  position: relative;
  padding: 1rem 1.6rem;
  &__header {
    background-color: var(--rich-black);
    border-bottom-width: 2px;
    border-bottom-color: var(--oxford-blue);
    border-bottom-style: solid;
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    height: 100%;
  }

  .v-enter-active,
  .v-leave-active {
    transition-property: transform, opacity;
    transition-duration: 0.25s;
    transition-timing-function: var(--easing-swing);
  }

  .v-enter-from,
  .v-leave-to {
    transform: translateX(60%);
    opacity: 0;
  }

  .dom-tree-list {
    margin: 0;

    .dom-tree-item {
      margin: 0;
    }
  }
}
</style>
