<script setup lang="ts">
// import type MultimediaObject from "@/libs/multimediaobject/dist/index.js"
import { useTreeStore } from "@/stores/tree"
import { computed } from "vue"
import { type TreeRouteItem } from "@/components/panels/DOMPanel.vue";

const treeStore = useTreeStore()

const props = defineProps<{
  item: TreeRouteItem
}>();

const dataId = computed(() => props.item.id)
const selected = computed(() => dataId.value === treeStore.selected?.getAttribute('data-id'))

const highlightComponent = (moId: string) => {
  if (treeStore.selected?.getAttribute("data-id") === moId) return
  const element = treeStore.elements.find((c) => c.getAttribute('data-id') === moId)
  element?.classList.add("selected")
}
const unHighlightComponent = (moId: string) => {
  if (treeStore.selected?.getAttribute("data-id") === moId) return
  const element = treeStore.elements.find((c) => c.getAttribute("data-id") === moId)
  element?.classList.remove("selected")
}

const onMouseHover = (_event: MouseEvent) => {
  highlightComponent(dataId.value)
}
const onMouseOut = (_event: MouseEvent) => {
  unHighlightComponent(dataId.value)
}

const selectComponent = (event: Event) => {
  const target = event.currentTarget as HTMLElement
  const moId = target.getAttribute("data-mo-id")
  if (treeStore.selected?.getAttribute("data-id") === moId) {
    treeStore.select(null)
  } else {
    treeStore.select(document.querySelector(`#main-scene [data-id='${moId}']`))
    highlightComponent(moId as string)
  }
  treeStore.elements.filter((c) => c.getAttribute("data-id") !== moId)
    .forEach((c) => unHighlightComponent(c.getAttribute("data-id")))
}
</script>

<template>
  <span
    :data-mo-id="dataId"
    class="dom-tree-item"
    :class="{ selected }"
    @mouseover.prevent.stop="onMouseHover"
    @mouseout.prevent.stop="onMouseOut"
    @click.prevent.stop="selectComponent"
  >
    {{ dataId }}
  </span>
</template>

<style lang="scss">
@use "sass:color";
@import "@/assets/variables.scss";

.dom-tree-item {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 1.4rem;
  font-weight: 200;
  word-break:break-all;
  white-space:pre-wrap;
  cursor: pointer;

  &:not(:first-child) {
    margin-top: 0.6rem !important;
  }

  span {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0.6rem 1rem;
    background-color: var(--oxford-blue);
    border-radius: 0.6em;

    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-out; 

    .icon {
      margin-right: 0.6rem;
      transition-duration: 250ms;
      transition-property: transorm;
      transition-timing-function: var(--easing-swing);
      transform-origin: center;

      &.rotate-180 {
        transform: rotate(180deg)
      }
    }

    &:hover, &.selected {
      background-color: color.adjust(
        $color: $oxford-blue,
        $lightness: 10%
      );
    }
  }
}
.dom-tree-item-list {
  transition-duration: 250ms;
  transition-timing-function: var(--easing-swing);
  transition-property: height;
  &.expanded {
    > .dom-tree-item {
      display: list-item;
    }
  }
  > .dom-tree-item {
    padding: 0.6rem 0rem 0rem 1rem; 
    display: none;
  }
  .dom-tree-item-list {
    padding: 0.6rem 0rem 0rem 1rem;
  }
}
</style>
