<script setup lang="ts">
import { ref, type Ref } from "vue"
import { Tabs, Tab, TabPanels, TabPanel } from "vue3-tabs";
import { Splitpanes, Pane } from "splitpanes"
import DOMPanel from "@/components/panels/DOMPanel.vue"
import PropertyDisplay from "@/components/displays/PropertyDisplay.vue"

const selectedTab = ref("dom")
const tabs = ref([
  {
    label: "DOM",
    value: "dom",
    color: "white"
  },
  {
    label: "Properties",
    value: "properties",
    color: "white"
  }
])
const emits = defineEmits([ "open" ]);
const open: Ref<boolean> = ref(true);

const getActive = (tab: string | number) => {
  return selectedTab.value === tab;
}

const onOpen = () => {
  open.value = !open.value
  emits('open')
}
</script>

<template>
  <div class="left-panel">
    <div class="flex">
      <Tabs v-model="selectedTab">
        <Tab
          v-for="(tab, i) in tabs"
          :key="`${tab.label}-${i}`"
          :val="tab.value"
          class="tab"
          :label="tab.label"
        >
          <h5
            :style="{'border-color': getActive(tab.value) ? tab.color : '', color: getActive(tab.value) ? tab.color : ''}"
            :class="{'active-tab': getActive(tab.value)}"
            class="tab"
          >
            {{ tab.label }}
          </h5>
        </Tab>
      </Tabs>
      <div
        class="arrow"
        :class="{
          left: open,
          right: !open
        }"
        @click.prevent.stop="onOpen"
      />
    </div>
    <TabPanels
      v-model="selectedTab"
      :animate="true"
      :swipeable="false"
      class="tab-panels"
    >
      <TabPanel
        :val="tabs[0].value"
        class="tab-panel"
      >
        <Splitpanes
          class="default-theme left-panels-container"
          horizontal
        >
          <Pane>
            <DOMPanel />
          </Pane>
        </Splitpanes>
      </TabPanel>

      <TabPanel
        :val="tabs[1].value"
        class="tab-panel"
      >
        <Splitpanes
          class="right-panels-container"
          horizontal
        >
          <Pane>
            <PropertyDisplay />
          </Pane>
        </Splitpanes>
      </TabPanel>
    </TabPanels> 
  </div>
</template>

<style lang="scss">
.left-panel {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--imperial-red);
  width: 100%;
  .tab-panels {
    flex-grow: 1;
  }
  .arrow {
    margin-left: auto;
    margin-right: 1.6em;
  }
  .flex:first-child {
    width: 100%;
    align-items: center;
  }
  .static-panels-container {
    &.left-panels-container {
      height: 100vh;
    }
 }
}
</style>
