<script setup lang="ts">
</script>

<template>
  <div class="panel">
    <header class="panel__header">
      <slot name="header" />
    </header>
    <div class="panel__body">
      <slot name="body" />
    </div>
    <footer class="panel__footer">
      <slot name="footer" />
    </footer>
  </div>
</template>

<style lang="scss">
.panel {
  --text-color: var(--floral-white);
  --main-bg-color: var(--rich-black);
  
  min-width: 150px;
  min-height: 200px;
  height: 100%;
  width: 100%;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding: 0.6rem 0.8rem; 

  .panel__header {
    flex-grow: 0;

    h5 {
      font-weight: 900;
    }
  }

  .panel__body {
    flex-grow: 1;
    overflow-y: auto;
  }

  .panel__footer {
    flex-grow: 0;
  }

  .disabled-layer {
    display: none;
  }

  &.disabled {
    pointer-events: none;
    .disabled-layer {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: darkgrey;
      opacity: 0.2;
      z-index: 10;
    }
  }
}
</style>
