<script setup lang="ts">
import PanelElement from "@/components/panels/PanelElement.vue";
import UpdateStyle from "@/commands/UpdateStyle";
import { useCommandsStore } from "@/stores/commands";
import { useTreeStore } from "@/stores/tree";
import ValueUnitInput from "../inputs/ValueUnitInput.vue";
import { computed } from "vue";

const commandsStore = useCommandsStore();
const treeStore = useTreeStore();

const displayList = [
  {
    value: "static",
    label: "static"
  },
  { value: "flex", label: "flex" },
  { value: "absolute", label: "absolute" },
  { value: "relative", label: "relative" },
  { value: "fixed", label: "fixed" },
  {
    value: "initial",
    label: "initial"
  }
]

const directionList = [
  {
    value: "row",
    label: "row"
  },
  {
    value: "column",
    label: "column"
  }
]

const flexList = [
  {
    value: "flex-start",
    label: "flex-start"
  },
  {
    value: "flex-end",
    label: "flex-end"
  },
  {
    value: "center",
    label: "center"
  },
  {
    value: "top",
    label: "top"
  },
  {
    value: "bottom",
    label: "bottom"
  },
  {
    value: "initial",
    label: "initial"
  }
]

const style = computed(() => {
  return treeStore.historizedSelected.selected !== null ? treeStore.selectedStyle : null
});

const flexStyle = computed(() => {
  return {
    display: style.value?.display || "static",
    "flex-direction": style.value?.["flex-direction"] || "row",
    "align-items": style.value?.["align-items"] || "flex-start",
    "justify-content": style.value?.["justify-content"] || "flex-start",
    "flex-basis": style.value?.["flex-basis"] || "1",
    "flex-grow": style.value?.["flex-grow"] || "1",
    "flex-shrink": style.value?.["flex-shrink"] || "1",
    "align-self": style.value?.["align-self"] || "initial",
    "justify-self": style.value?.["justify-self"] || "initial",
  }
})

const setStyleValue = (commandData: { [key: string]: string }) => {
  commandsStore.new(UpdateStyle(commandData)) 
}

</script>

<template>
  <PanelElement
    class="flex-panel"
    :class="{ disabled: !treeStore.selected }"
  >
    <template #body> 
      <div class="display flex-display">
        <div class="disabled-layer" />
        <div class="display-flex-container">
          <div class="flex">
            <label>display</label>
            <ValueUnitInput
              :model="flexStyle.display"
              type="select"
              :options="displayList"
              @input="setStyleValue({ 'display': $event })"
            />
          </div>
          <div class="flex">
            <label>direction</label>
            <ValueUnitInput
              :disabled="flexStyle.display !== 'flex'"
              type="select"
              :options="directionList"
              :model="flexStyle['flex-direction']"
              @input="setStyleValue({ 'flex-direction': $event })"
            />
          </div>
          <div class="flex">
            <label>align-items</label>
            <ValueUnitInput
              :disabled="flexStyle.display !== 'flex'"
              type="select"
              :options="flexList"
              :model="flexStyle['align-items']"
              @input="setStyleValue({ 'align-items': $event })"
            />
          </div>
          <div class="flex">
            <label>justify-content</label>
            <ValueUnitInput
              :disabled="flexStyle.display !== 'flex'"
              type="select"
              :options="flexList"
              :model="flexStyle['justify-content']"
              @input="setStyleValue({ 'justify-content': $event })"
            />
          </div>
          <div class="flex">
            <label>flex-basis</label>
            <ValueUnitInput
              :disabled="flexStyle.display !== 'flex'"
              :model="flexStyle['flex-basis']"
              @input="setStyleValue({ 'flex-basis': $event })"
            />
          </div>
          <div class="flex">
            <label>flex-grow</label>
            <ValueUnitInput
              :disabled="flexStyle.display !== 'flex'"
              :model="flexStyle['flex-grow']"
              @input="setStyleValue({ 'flex-grow': $event })"
            />
          </div>
          <div class="flex">
            <label>flex-shrink</label>
            <ValueUnitInput
              :disabled="flexStyle.display !== 'flex'"
              :model="flexStyle['flex-shrink']"
              @input="setStyleValue({ 'flex-shrink': $event })"
            />
          </div>
          <div class="flex">
            <label>align-self</label>
            <ValueUnitInput
              :disabled="flexStyle.display !== 'flex'"
              type="select"
              :options="flexList"
              :model="flexStyle['align-self']"
              @input="setStyleValue({ 'align-self': $event })"
            />
          </div>
          <div class="flex">
            <label>justify-self</label>
            <ValueUnitInput
              type="select"
              :options="flexList"
              :model="flexStyle['justify-self']"
              @input="setStyleValue({ 'justify-self': $event })"
            />
          </div>
        </div>
      </div>
    </template>
  </PanelElement>
</template>

<style lang="scss">
.flex-display {
  width: 100%;
  height: 100%;
  padding: 1rem 1.6rem;
  input, select, .select {
    text-align: right;
  }
  textarea {
    width: 200px;
    height: 150px;
    resize: none;
  }
  .display-flex-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    > .flex {
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
      label {
        flex-grow: 2;
        color: var(--floral-white);
      }
      .input-controller {
        select:nth-child(2) {
          width: 100px;
        }
      }
    }
  }
}
</style>
