<script setup lang="ts">
import PanelElement from "@/components/panels/PanelElement.vue";
import UpdateStyle from "@/commands/UpdateStyle";
import UpdateFontFamily from "@/commands/UpdateFontFamily";
import UpdateText from "@/commands/UpdateText";
import { useCommandsStore } from "@/stores/commands";
import { useTreeStore } from "@/stores/tree";
import { useFontsStore, type Font } from "@/stores/fonts";
import ValueUnitInput from "../inputs/ValueUnitInput.vue";
import ColorInput from "vue-color-input";
import { computed } from "vue";

const commandsStore = useCommandsStore();
const treeStore = useTreeStore();
const fontsStore = useFontsStore();

fontsStore.fetch();


const selected = computed(() => {
  return treeStore.historizedSelected.selected !== null ? treeStore.selected : null
});

const style = computed(() => {
  return treeStore.historizedSelected.selected !== null ? treeStore.selectedStyle : null
});

const fontList = computed(() => fontsStore.fonts.map((f: Font) => ({
  ...f,
  label: f.family,
  value: f.family
})));

const fontStyle = computed(() => {
  return {
    // "background-color": style.value?.["background-color"] || "rgba(0,0,0,0)",
    color: style.value?.color || "rgba(0,0,0,1)",
    "font-size": style.value?.["font-size"] || "12px",
    "font-family": style.value?.["font-family"] || "Arial",
    "text": selected.value?.innerText || ""
  }
})

const setStyleValue = (commandData: { [key: string]: string }) => {
  commandsStore.new(UpdateStyle(commandData)) 
}

const setTextValue = (commandData: { [key: string]: string }) => {
  commandsStore.new(UpdateText(commandData)) 
}

const setFontFamilyValue = (commandData: { [key: string]: string }) => {
  commandsStore.new(UpdateFontFamily(commandData)) 
}

</script>

<template>
  <PanelElement
    class="font-panel"
    :class="{ disabled: !treeStore.selected }"
  >
    <template #body>
      <div class="display font-display">
        <div class="disabled-layer" />
        <div class="display-font-container">
          <div class="flex">
            <label>Text</label>
            <div class="input-controller">
              <textarea
                :value="fontStyle.text"
                @change="setTextValue({ text: (($event as InputEvent).target as HTMLTextAreaElement).value })"
              />
              <div class="input-background" />
            </div>
          </div>
          <div class="flex">
            <label>Family</label>
            <ValueUnitInput
              type="select"
              :options="fontList"
              :model="fontStyle['font-family']"
              @input="setFontFamilyValue({ 'font-family': $event })"
            />
          </div>
          <div class="flex">
            <label>Size</label>
            <ValueUnitInput
              :model="fontStyle['font-size']"
              @input="setStyleValue({ 'font-size': $event })"
            />
          </div>
          <div class="flex">
            <label>Color</label>
            <color-input
              v-model="fontStyle.color"
              format="rgb string"
              @update:model-value="setStyleValue({ 'color': $event })"
            />
          </div>
        </div>
      </div>
    </template>
  </PanelElement>
</template>

<style lang="scss">
.font-display {
  width: 100%;
  height: 100%;
  padding: 1rem 1.6rem;
  input, select, .select {
    text-align: right;
  }
  textarea {
    width: 200px;
    height: 150px;
    resize: none;
  }
  .display-font-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    > .flex {
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
      label {
        flex-grow: 2;
        color: var(--floral-white);
      }
      .input-controller {
        select:nth-child(2) {
          width: 100px;
        }
      }
    }
  }
}
</style>
