<script setup lang="ts">
import UpdateStyle from "@/commands/UpdateStyle"
import { useCommandsStore } from "@/stores/commands"
import { useTreeStore } from "@/stores/tree"
import { computed } from "vue"
import ValueUnitInput from "@/components/inputs/ValueUnitInput.vue"

const commandsStore = useCommandsStore()
const treeStore = useTreeStore()

const style = computed(() => {
  return treeStore.historizedSelected !== null ? treeStore.selectedStyle : null
})

const marginPaddingStyle = computed(() => {
  return {
    "margin-top": style.value?.["margin-top"] || "0px",
    "margin-right": style.value?.["margin-right"] || "0px",
    "margin-bottom": style.value?.["margin-bottom"] || "0px",
    "margin-left": style.value?.["margin-left"] || "0px",
    "padding-top": style.value?.["padding-top"] || "0px",
    "padding-right": style.value?.["padding-right"] || "0px",
    "padding-bottom": style.value?.["padding-bottom"] || "0px",
    "padding-left": style.value?.["padding-left"] || "0px",
  }
})

const setStyleValue = (commandData: { [key: string]: string }) => {
  commandsStore.new(UpdateStyle(commandData)) 
}

</script>

<template>
  <div class="display margin-display">
    <div class="display-square-container padding-container">
      <div class="padding-container__top flex flex-column">
        <label>padding-top</label>
        <ValueUnitInput
          :only-text="true"
          :model="marginPaddingStyle['padding-top']"
          @input="setStyleValue({ 'padding-top': $event })"
        />
      </div>
      <div class="padding-container__right flex flex-column">
        <label>padding-right</label>
        <ValueUnitInput
          :only-text="true"
          :model="marginPaddingStyle['padding-right']"
          @input="setStyleValue({ 'padding-right': $event })"
        />
      </div>
      <div class="padding-container__bottom flex flex-column">
        <ValueUnitInput
          :only-text="true"
          :model="marginPaddingStyle['padding-bottom']"
          @input="setStyleValue({ 'padding-bottom': $event })"
        />
        <label>padding-bottom</label>
      </div>
      <div class="padding-container__left flex flex-column">
        <label>padding-left</label> 
        <ValueUnitInput
          :only-text="true"
          :model="marginPaddingStyle['padding-left']"
          @input="setStyleValue({ 'padding-left': $event })"
        />
      </div>
      <div class="margin-container">
        <div class="margin-container__top flex flex-column">
          <label>margin-top</label>
          <ValueUnitInput
            :only-text="true"
            :model="marginPaddingStyle['margin-top']"
            @input="setStyleValue({ 'margin-top': $event })"
          />
        </div>
        <div class="margin-container__right flex flex-column">
          <label>margin-right</label>
          <ValueUnitInput
            :only-text="true"
            :model="marginPaddingStyle['margin-right']"
            @input="setStyleValue({ 'margin-right': $event })"
          />
        </div>
        <div class="margin-container__bottom flex flex-column">
          <ValueUnitInput
            :only-text="true"
            :model="marginPaddingStyle['margin-bottom']"
            @input="setStyleValue({ 'margin-bottom': $event })"
          />
          <label>margin-bottom</label>
        </div>
        <div class="margin-container__left flex flex-column">
          <label>margin-left</label> 
          <ValueUnitInput
            :only-text="true"
            :model="marginPaddingStyle['margin-left']"
            @input="setStyleValue({ 'margin-left': $event })"
          />
        </div>
      </div> 
    </div>
  </div>
</template>

<style lang="scss">
.margin-display {
  width: 100%;
  height: 100%;
  .display-square-container { 
    &__element {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0.4rem;

      .flex-column:nth-child(2) {
        flex-grow: 1;
        flex-shrink: 0.3;
      }
    }

    &__top {
      grid-area: top;
      border-bottom: 1px solid red;
    }
    &__right {
      grid-area: right;
      border-left: 1px solid red;
    }
    &__bottom {
      grid-area: bottom;
      border-top: 1px solid red;
    }
    &__left {
      border-right: 1px solid red;
      grid-area: left;
    }
    &__square {
      position: relative;
      grid-area: square;
      background-color: var(--somber-cyan);
      overflow: hidden; 

      &__position {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: flex-start;
        width: 10px;
        height: 10px;
        background-color: var(--imperial-red); 
      }
    }
  }
  .padding-container {
    display: grid;
    width: 100%;
    height: 20rem;
    margin: 0 auto;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
      ". . . top top top top . . ."
      ". . . top top top top . . ."
      ". . margin margin margin margin margin margin . ."
      "left left margin margin margin margin margin margin right right"
      ". . margin margin margin margin margin margin . ."
      ". . . bottom bottom bottom bottom . . ."
      ". . . bottom bottom bottom bottom . . .";
    gap: 0;

    label {
      margin: 0 auto;
    }
 
    &__top {
      grid-area: top;
    }
    &__right {
      grid-area: right;
    }
    &__bottom {
      margin-top: auto;
      grid-area: bottom;
    }
    &__left {
      grid-area: left;
    }
  }

  .margin-container {
    display: grid;
    grid-area: margin;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    gap: 0;

    &__top {
      grid-row: 1;
      grid-column: 2 / 6;
    }
    &__right {
      grid-column: 5 / 7;
      grid-row: 2;
    }
    &__bottom {
      grid-column: 2 / 6;
      grid-row: 3;
    }
    &__left {
      grid-column: 1 / 3;
      grid-row: 2;
    }
  }
}
</style>
