<script setup lang="ts">
import { positionOptions } from "@/utils/constants"
import UpdateStyle from "@/commands/UpdateStyle"
import { useCommandsStore } from "@/stores/commands"
import { useTreeStore } from "@/stores/tree"
import { computed, StyleValue } from "vue"
import ValueUnitInput from "@/components/inputs/ValueUnitInput.vue"
import ColorInput from "vue-color-input";

const commandsStore = useCommandsStore()
const treeStore = useTreeStore()

const style = computed(() => {
  return treeStore.historizedSelected.selected !== null ? treeStore.selectedStyle : null
})

const positionStyle = computed(() => {
  return {
    position: style.value?.position || "static",
    top: style.value?.top || "0px",
    right: style.value?.right || "0px",
    bottom: style.value?.bottom || "0px",
    left: style.value?.left || "0px",
    height: style.value?.height || "0px",
    width: style.value?.width || "0px",
    "background-color": style.value?.["background-color"] || "transparent",
  }
})

const setStyleValue = (commandData: { [key: string]: string }) => {
  commandsStore.new(UpdateStyle(commandData)) 
}

</script>

<template>
  <div class="display position-display">
    <div class="display-square-container">
      <div class="display-square-container__element display-square-container__top">
        <ValueUnitInput
          :model="positionStyle.top"
          @input="setStyleValue({ top: $event })"
        />
      </div>
      <div class="display-square-container__element display-square-container__right">
        <ValueUnitInput
          :model="positionStyle.right"
          @input="setStyleValue({ right: $event })"
        />
      </div>
      <div class="display-square-container__element display-square-container__bottom">
        <ValueUnitInput
          :model="positionStyle.bottom"
          @input="setStyleValue({ bottom: $event })"
        />
      </div>
      <div class="display-square-container__element display-square-container__left">
        <ValueUnitInput
          :model="positionStyle.left"
          @input="setStyleValue({ left: $event })"
        />
      </div>
      <div class="display-square-container__square">
        <div 
          class="display-square-container__square__position"
          :style="positionStyle as StyleValue"
        />
      </div>
    </div>
    <div class="display-position-container">
      <div class="flex">
        <label>Position</label>
        <ValueUnitInput
          type="select"
          :options="positionOptions"
          :model="positionStyle.position"
          @input="setStyleValue({ position: $event })"
        />
      </div>
      <div class="flex">
        <label>Width</label>
        <ValueUnitInput
          :model="positionStyle.width"
          @input="setStyleValue({ width: $event })"
        />
      </div>
      <div class="flex">
        <label>Height</label>
        <ValueUnitInput
          :model="positionStyle.height"
          @input="setStyleValue({ height: $event })"
        />
      </div>
      <div class="flex">
        <label>bakground-color</label>
        <color-input
          v-model="positionStyle['background-color']"
          format="rgb string"
          position="left center"
          @update:model-value="setStyleValue({ 'background-color': $event })"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.position-display {
  width: 100%;
  height: 100%;
  input, select, .select {
    text-align: right;
  }
  .display-square-container {
    display: grid;
    width: 25rem;
    height: 10rem;
    margin: 0 auto;
    grid-template-columns: 33%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
      ". top ."
      "left square right"
      ". bottom .";
    gap: 0;

    &__element {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0.4rem;

      .flex-column:nth-child(2) {
        flex-grow: 1;
        flex-shrink: 0.3;
      }
    }

    &__top {
      grid-area: top;
      border-bottom: 1px solid red;
    }
    &__right {
      grid-area: right;
      border-left: 1px solid red;
    }
    &__bottom {
      grid-area: bottom;
      border-top: 1px solid red;
    }
    &__left {
      border-right: 1px solid red;
      grid-area: left;
    }
    &__square {
      position: relative;
      grid-area: square;
      background-color: var(--somber-cyan);
      overflow: hidden;

      &__position {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: var(--imperial-red);
      }
    }
  }
  .display-position-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    .flex {
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
      label {
        flex-grow: 2;
      }
      .input-controller {
        select:nth-child(2) {
          width: 100px;
        }
      }
    }
  }
}
</style>
