<script setup lang="ts">
import PanelElement from "@/components/panels/PanelElement.vue";
import AddToTimeline from "@/commands/AddToTimeline";
import RemoveFromTimeline from "@/commands/RemoveFromTimeline";
import { useCommandsStore } from "@/stores/commands";
import { useTreeStore } from "@/stores/tree";
import { useAnimationsStore } from "@/stores/animations";
// import ValueUnitInput from "../inputs/ValueUnitInput.vue";
import { computed, type ComputedRef, ref, reactive } from "vue";

const commandsStore = useCommandsStore();
const treeStore = useTreeStore();
const animationsStore = useAnimationsStore();

const isAnimated: ComputedRef<boolean> = computed(() => {
  // position is needed to retrigger when undo / redo
  return commandsStore.position >= 0 && !!animationsStore.timeline.children?.find((e) => treeStore.historizedSelected.selected === e.animatables[0]?.target)
})
const setAnimated = () => {
  const animated = animationsStore.timeline.children?.find((e) => treeStore.historizedSelected.selected === e.animatables[0]?.target);
  if (!animated) commandsStore.new(AddToTimeline(treeStore.historizedSelected.selected));
  else commandsStore.new(RemoveFromTimeline(treeStore.historizedSelected.selected));
};
</script>

<template>
  <PanelElement
    class="property-panel"
    :class="{ disabled: !treeStore.selected }"
  >
    <template #body> 
      <div class="display property-display">
        <div class="disabled-layer" />
        <div class="display-property-container">
          <div class="flex">
            <label>Animated</label>
            <input
              :value="isAnimated"
              :checked="isAnimated"
              type="checkbox"
              @input="setAnimated"
            >
          </div>
        </div>
      </div>
    </template>
  </PanelElement>
</template>

<style lang="scss">
.property-display {
  width: 100%;
  height: 100%;
  padding: 1rem 1.6rem;
  input, select, .select {
    text-align: right;
  }
  textarea {
    width: 200px;
    height: 150px;
    resize: none;
  }
  .display-property-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    > .flex {
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
      label {
        flex-grow: 2;
        color: var(--floral-white);
      }
      .input-controller {
        select:nth-child(2) {
          width: 100px;
        }
      }
    }
  }
}
</style>

