<script setup lang="ts">
import UpdateStyle from "@/commands/UpdateStyle"
import { useCommandsStore } from "@/stores/commands"
import { useTreeStore } from "@/stores/tree"
import { computed } from "vue"
import ValueUnitInput from "@/components/inputs/ValueUnitInput.vue"

const commandsStore = useCommandsStore()
const treeStore = useTreeStore()

const style = computed(() => {
  return treeStore.historizedSelected.selected !== null ? treeStore.selectedStyle : null
})

const translateStyle = computed(() => {
  const translateString = style.value?.transform?.replace("translate3d(", "")
  const translateValues = translateString ? translateString.slice(
    0, 
    translateString.indexOf(")")
  ).replaceAll(" ", "").split(",") : ["0px","0px","0px"]
  return {
    transform: `translate3d(${translateValues[0]},${translateValues[1]},${translateValues[2]})`,
    transformOrigin: style.value?.transformOrigin || "50% 50%",
    translateX: translateValues[0],
    translateY: translateValues[1],
    translateZ: translateValues[2],
  }
})
const scaleStyle = computed(() => {
  const scaleString = style.value?.transform?.slice(
    style.value?.transform?.indexOf("scale3d(") + 8,
    style.value?.transform?.length - 1
  )
  const scaleValues = scaleString ? scaleString.replaceAll(" ", "").split(",") : ["1","1","1"]
  return {
    transform: `scale3d(${scaleValues[0]},${scaleValues[1]},${scaleValues[2]})`,
    transformOrigin: style.value?.transformOrigin || "50% 50%",
    scaleX: scaleValues[0],
    scaleY: scaleValues[1],
    scaleZ: scaleValues[2],
  }
})
const rotateStyle = computed(() => {
  let rotateXString = style.value?.transform?.slice(
    style.value?.transform?.indexOf("rotateX(") + 8
  )
  rotateXString = rotateXString?.slice(
    0,
    rotateXString.indexOf(")")
  )
  let rotateYString = style.value?.transform?.slice(
    style.value?.transform?.indexOf("rotateY(") + 8
  )
  rotateYString = rotateYString?.slice(
    0,
    rotateYString.indexOf(")")
  )
  let rotateZString = style.value?.transform?.slice(
    style.value?.transform?.indexOf("rotateZ(") + 8
  )
  rotateZString = rotateZString?.slice(
    0,
    rotateZString.indexOf(")")
  )
  const rotateXValue = rotateXString ? rotateXString : "0deg"
  const rotateYValue = rotateYString ? rotateYString : "0deg"
  const rotateZValue = rotateZString ? rotateZString : "0deg"
  return {
    transform: `rotateX(${rotateXValue}) rotateY(${rotateYValue}) rotateZ(${rotateZValue})`,
    transformOrigin: style.value?.transformOrigin || "50% 50%",
    rotateX: rotateXValue,
    rotateY: rotateYValue,
    rotateZ: rotateZValue,
  }
})

const setStyleValue = (commandData: { [key: string]: string }) => {
  const key = Object.keys(commandData)[0]
  const translateX = key === "translateX" ? commandData[key] : translateStyle.value.translateX
  const translateY = key === "translateY" ? commandData[key] : translateStyle.value.translateY
  const translateZ = key === "translateZ" ? commandData[key] : translateStyle.value.translateZ
  const rotateX = key === "rotateX" ? commandData[key] : rotateStyle.value.rotateX
  const rotateY = key === "rotateY" ? commandData[key] : rotateStyle.value.rotateY
  const rotateZ = key === "rotateZ" ? commandData[key] : rotateStyle.value.rotateZ
  const scaleX = key === "scaleX" ? commandData[key] : scaleStyle.value.scaleX
  const scaleY = key === "scaleY" ? commandData[key] : scaleStyle.value.scaleY
  const scaleZ = key === "scaleZ" ? commandData[key] : scaleStyle.value.scaleZ

  const transformString = `translate3d(${translateX},${translateY},${translateZ})` +
    ` rotateX(${rotateX}) rotateY(${rotateY}) rotateZ(${rotateZ})` +
    ` scale3d(${scaleX},${scaleY},${scaleZ})`
  commandsStore.new(UpdateStyle({
    transform: transformString
  })) 
}
</script>

<template>
  <div class="display transform-display">
    <div class="display-square-container">
      <div class="translate-grid">
        <div class="display-square-container__element grid-input">
          <label>translateX</label>
          <ValueUnitInput
            :model="translateStyle.translateX"
            @input="setStyleValue({ 'translateX': $event })"
          />
        </div>
        <div class="display-square-container__element grid-input">
          <label>translateY</label>
          <ValueUnitInput
            :model="translateStyle.translateY"
            @input="setStyleValue({ 'translateY': $event })"
          />
        </div>
        <div class="display-square-container__element grid-input">
          <label>translateZ</label>
          <ValueUnitInput
            :model="translateStyle.translateZ"
            @input="setStyleValue({ 'translateZ': $event })"
          />
        </div>
        <div class="display-square-container__square">
          <div 
            class="display-square-container__square__translate"
            :style="{ transform: translateStyle.transform, transformOrigin: translateStyle.transformOrigin }"
          />
        </div>
      </div>
      <div class="rotate-grid">
        <div class="display-square-container__element grid-input">
          <label>rotateX</label>
          <ValueUnitInput
            :possible-units="['deg']"
            :model="rotateStyle.rotateX"
            @input="setStyleValue({ 'rotateX': $event })"
          />
        </div>
        <div class="display-square-container__element grid-input">
          <label>rotateY</label>
          <ValueUnitInput
            :possible-units="['deg']"
            :model="rotateStyle.rotateY"
            @input="setStyleValue({ 'rotateY': $event })"
          />
        </div>
        <div class="display-square-container__element grid-input">
          <label>rotateZ</label>
          <ValueUnitInput
            :possible-units="['deg']"
            :model="rotateStyle.rotateZ"
            @input="setStyleValue({ 'rotateZ': $event })"
          />
        </div>
        <div class="display-square-container__square">
          <div 
            class="display-square-container__square__rotate"
            :style="rotateStyle"
          />
        </div>
      </div>
      <div class="scale-grid">
        <div class="display-square-container__element grid-input">
          <label>scaleX</label>
          <ValueUnitInput
            type="number"
            :model="scaleStyle.scaleX"
            @input="setStyleValue({ 'scaleX': $event })"
          />
        </div>
        <div class="display-square-container__element grid-input">
          <label>scaleY</label>
          <ValueUnitInput
            type="number"
            :model="scaleStyle.scaleY"
            @input="setStyleValue({ 'scaleY': $event })"
          />
        </div>
        <div class="display-square-container__element grid-input">
          <label>scaleZ</label>
          <ValueUnitInput
            type="number"
            :model="scaleStyle.scaleZ"
            @input="setStyleValue({ 'scaleZ': $event })"
          />
        </div>
        <div class="display-square-container__square">
          <div 
            class="display-square-container__square__scale"
            :style="{ transform: scaleStyle.transform, transformOrigin: scaleStyle.transformOrigin }"
          />
        </div>
      </div> 
    </div>
  </div>
</template>

<style lang="scss">
.transform-display {
  width: 100%;
  height: 100%;
  input, select, .select {
    text-align: right;
  }
  .display-square-container {
    width: 25rem;
    height: 15rem;
    margin: 0 auto;

    .display-square-container__element {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: baseline;
      padding: 0 0.4rem;

      .flex-column:nth-child(3) {
        flex-grow: 1;
        flex-shrink: 0;
      }
    }
  }
  .translate-grid, .rotate-grid, .scale-grid {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
      "input1 square"
      "input2 square"
      "input3 square"
    ;

    label {
      margin-right: 1.2rem;
    }

    .grid-input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      label {
        flex-grow: 2;
      }
    }
  }
  .display-square-container__square {
    position: relative;
    grid-area: square;
    background-color: var(--somber-cyan);
    overflow: hidden;

    &__translate, &__rotate, &__scale {
      position: absolute;
      width: 50%;
      height: 50%;
      top: 25%;
      left: 25%;
      background-color: var(--imperial-red);
    }
  }
}
</style>
