<script setup lang="ts">
import { ref, computed } from "vue"

const props = defineProps<{
  model: string | boolean,
  onlyText?: boolean,
  possibleUnits?: string[],
  type?: string,
  options?: { value: any, label: string }[],
  disabled?: boolean
}>()

const emit = defineEmits<{
  (e: "input", value: string | boolean): void
}>()

const numberValue = computed(() => typeof props.model === "string" ? parseFloat(props.model) : 0)
const unitValue = computed(() => typeof props.model === "string" ? props.model.replace(`${parseFloat(props.model)}`, "") : "")

const possibleUnits = props.possibleUnits || [
  "px",
  "em",
  "rem",
  "vh",
  "vw",
  "vmin",
  "vmax",
  "pt",
  "%",
]

const valueInput = ref<HTMLInputElement | null>(null)
const selectInput = ref<HTMLSelectElement | null>(null)
const unitInput = ref<HTMLInputElement | null>(null)

const formatValue = (event: Event) => {
  const target = event.target as HTMLInputElement
  if (!props.onlyText && typeof props.model !== "boolean") {
    target.value = target.value.replace(/[^-0-9.]/g, "").replace(/(\..*)\./g, "$1")
  }
}

const emitChange = () => {
  if (props.type && props.type === "select") emit('input', `${selectInput.value.value}`)
  else if (typeof props.model !== "boolean") emit('input', `${valueInput.value.value}${!unitInput.value ? '' : unitInput.value.value}`)
  else emit('input', valueInput.value.value)
}
</script>

<template>
  <template v-if="props.type !== 'select'">
    <div class="flex flex-column input-controller">
      <input
        ref="valueInput"
        :type="props.type || 'text'"
        :value="props.onlyText || typeof props.model === 'boolean' ? props.model : numberValue"
        :disabled="disabled"
        @input="formatValue"
        @change="emitChange"
      >
      <div class="input-background" />
    </div>
    <div
      v-if="!props.onlyText && !props.type"
      class="flex flex-column input-controller"
    >
      <div
        class="select"
      >
        <select
          ref="unitInput"
          :value="unitValue"
          :disabled="disabled"
          @change="emitChange"
        >
          <option
            v-for="unit in possibleUnits"
            :key="unit"
            :value="unit"
          >
            {{ unit }}
          </option>
        </select>
        <div class="input-background" />
      </div>
    </div>
  </template>
  <template v-else>
    <div class="flex flex-column input-controller">
      <select
        ref="selectInput"
        :value="props.model"
        :disabled="disabled"
        @change="emitChange"
      >
        <option
          v-for="option in props.options"
          :key="option.value"
          :value="option.value"
        >
          {{ option.label }}
        </option>
      </select>
      <div class="input-background" />
    </div>
  </template>
</template>

<style lang="scss">
</style>
