<script setup lang="ts">
// import type MultimediaObject from "@/libs/multimediaobject/dist/index.js"
import MenuElement, { MenuItem } from "@/components/menus/MenuElement.vue"
import { useCommandsStore } from "@/stores/commands"
import { useTreeStore } from "@/stores/tree";
import uuid from "@/libs/micro-outils/dist/lang/uuid"

import NewElement from "@/commands/NewElement"

const commandStore = useCommandsStore()
const treeStore = useTreeStore();

const props = defineProps<{ position: { x: number; y: number }, target: string | null }>()
const emit = defineEmits<{
  (e: "close"): void
}>()

const contextMenuItems: MenuItem[] = [
  {
    label: "New",
    childs: [],
    onclick: (_event: Event & EventTarget) => {
      commandStore.new(NewElement({
        // creating the name here to
        // memoize it in the command
        // to ensure undo & redo without a new name
        attributes: {
          "data-id": `multimediaobject-${uuid()}`,
          "class": "multimediaobject"
        },
        tag: "div",
        style: {
          "position": "static",
          "background-color": "black",
          "width": "50px",
          "height": "50px",
          "transform-origin": "center center"
        }
      }, props.target ? document.querySelector(`[data-id='${props.target}']`) : null))
      // treeStore.select(treeStore.elements[treeStore.elements.length - 1])
      emit("close")
    }
  }
]

</script>

<template>
  <MenuElement
    class="dom-menu"
    :position="props.position"
    :items="contextMenuItems"
  />
</template>

<style lang="scss">
.dom-menu {
}
</style>
