<script setup lang="ts">
import { computed, type ComputedRef } from "vue"

export interface MenuItem {
  label: string;
  childs: MenuItem[];
  onclick: (event: Event & EventTarget) => void;
}

export interface MenuProps {
  position: {
    x: number;
    y: number;
  },
  items: MenuItem[]
}

const props = defineProps<MenuProps>()

const style: ComputedRef<{ [key: string]: string }> = computed(() => ({
  left: `${props.position.x}px`,
  top: `${props.position.y}px`
}))

</script>

<template>
  <div class="menu-element" :style="style">
    <ul class="menu-element__list">
      <li 
        v-for="item in props.items"
        class="menu-element__list__item"
        @click="item.onclick"
        :key="item.label"
      >
        {{ item.label }}
      </li>
    </ul>
  </div>
</template>

<style lang="scss">
.menu-element {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 100;
  font-size: 1.4rem;
  border: 0.2rem solid var(--somber-cyan);

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0.2rem 1rem;
      margin: 0;
      list-style: none;
      transition-property: background-color, color;
      transition-duration: 0.2s;
      transition-delay: 0;
      cursor: pointer;
      background-color: var(--rich-black);

      &:hover {
        background-color: var(--oxford-blue);
        color: var(--floral-white);
      }
    }
  }
}
</style>
