<script setup lang="ts">
import type { Ref, ComputedRef } from "vue"
import { ref, computed } from "vue"

const CORNER_REGEX = /^(top|bottom)-(left|right)-handle$/
const SIDES_REGEX = /^(right|left)-handle$/
const HEIGHT_REGEX = /^(top|bottom)-handle$/

interface CSSStyle {
  [key: string]: string | number;
  width: number;
  height: number;
}

interface HandlePosition {
  startWidth: number,
  startHeight: number,
  startX: number;
  x: number;
  startY: number;
  y: number;
  direction: string;
  selected: string | null
}

const style: Ref<CSSStyle> = ref({
  width: 720,
  height: 480
})

const computedStyle: ComputedRef<{[key: string]: string}> = computed(() => {
  return {
    width: `${style.value.width}px`,
    height: `${style.value.height}px`
  }
})


const handleData: Ref<HandlePosition> = ref({
  startWidth: 0,
  startHeight: 0,
  startX: 0,
  x: 0,
  startY: 0,
  y: 0,
  direction: "left",
  selected: null,
})

const handle = (event: MouseEvent) => {
  event.preventDefault()
  event.stopPropagation()
  handleData.value.x = event.clientX
  handleData.value.y = event.clientY

  const deltaX =  handleData.value.startX - handleData.value.x
  const deltaY = handleData.value.startY - handleData.value.y

  switch (handleData.value.direction) {
  case "topright":
    style.value.height = handleData.value.startHeight + deltaY
    style.value.width = handleData.value.startWidth - deltaX
    window.document.body.style.cursor = "ne-resize"
    break
  case "bottomright":
    style.value.height = handleData.value.startHeight - deltaY
    style.value.width = handleData.value.startWidth - deltaX
    window.document.body.style.cursor = "se-resize"
    break
  case "topleft":
    style.value.height = handleData.value.startHeight + deltaY
    style.value.width = handleData.value.startWidth + deltaX
    window.document.body.style.cursor = "nw-resize"
    break
  case "bottomleft":
    style.value.height = handleData.value.startHeight - deltaY
    style.value.width = handleData.value.startWidth + deltaX
    window.document.body.style.cursor = "sw-resize"
    break
  case "top":
    style.value.height = handleData.value.startHeight + deltaY
    window.document.body.style.cursor = "ns-resize"
    break
  case "left":
    style.value.width = handleData.value.startWidth + deltaX
    window.document.body.style.cursor = "ew-resize"
    break
  case "right":
    style.value.width = handleData.value.startWidth - deltaX
    window.document.body.style.cursor = "ew-resize"
    break
  case "bottom":
    style.value.height = handleData.value.startHeight - deltaY
    window.document.body.style.cursor = "ns-resize"
    break
  default:
  }
}

const startHandle = (event: MouseEvent) => {
  event.preventDefault()
  event.stopPropagation()
  window.addEventListener("mousemove", handle) 
  window.addEventListener("mouseup", endHandle)
  handleData.value.startX = event.clientX
  handleData.value.startWidth = style.value.width
  handleData.value.startY = event.clientY
  handleData.value.startHeight = style.value.height

  const target = (event as MouseEvent & { target: HTMLElement}).target

  handleData.value.direction = target.className.replace(/handle/g, "").replace(/-/g, "").trim()
  handleData.value.selected = target.className.replace("handle ", "")
}

const endHandle = (event: MouseEvent) => {
  event.preventDefault()
  event.stopPropagation()
  window.removeEventListener("mousemove", handle)
  window.removeEventListener("mouseup", endHandle)
  handleData.value.selected = null
  window.document.body.style.cursor = "default"
}
</script>

<template>
  <div
    class="main-scene-container"
    :style="computedStyle"
  >
    <div
      class="handle top-left-handle"
      :class="{ selected: handleData.selected && CORNER_REGEX.test(handleData.selected), noevents: handleData.selected && !CORNER_REGEX.test(handleData.selected) }"
      @mousedown="startHandle"
    />
    <div
      class="handle top-right-handle"
      :class="{ selected: handleData.selected && CORNER_REGEX.test(handleData.selected), noevents: handleData.selected && !CORNER_REGEX.test(handleData.selected) }"
      @mousedown="startHandle"
    />
    <div
      class="handle bottom-right-handle"
      :class="{ selected: handleData.selected && CORNER_REGEX.test(handleData.selected), noevents: handleData.selected && !CORNER_REGEX.test(handleData.selected) }"
      @mousedown="startHandle"
    />
    <div
      class="handle bottom-left-handle"
      :class="{ selected: handleData.selected && CORNER_REGEX.test(handleData.selected), noevents: handleData.selected && !CORNER_REGEX.test(handleData.selected) }"
      @mousedown="startHandle"
    />
    <div
      class="handle left-handle"
      :class="{ selected: handleData.selected && SIDES_REGEX.test(handleData.selected), noevents: handleData.selected && !SIDES_REGEX.test(handleData.selected) }"
      @mousedown="startHandle"
    />
    <div
      class="handle right-handle"
      :class="{ selected: handleData.selected && SIDES_REGEX.test(handleData.selected), noevents: handleData.selected && !SIDES_REGEX.test(handleData.selected) }"
      @mousedown="startHandle"
    />
    <div
      class="handle top-handle"
      :class="{ selected: handleData.selected && HEIGHT_REGEX.test(handleData.selected), noevents: handleData.selected && !HEIGHT_REGEX.test(handleData.selected) }"
      @mousedown="startHandle"
    />
    <div
      class="handle bottom-handle"
      :class="{ selected: handleData.selected && HEIGHT_REGEX.test(handleData.selected), noevents: handleData.selected && !HEIGHT_REGEX.test(handleData.selected) }"
      @mousedown="startHandle"
    />
    <div id="main-scene" />
  </div>
</template>

<style lang="scss">
.main-scene-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  #main-scene {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/transparent.jpg");
    background-repeat: repeat;
    background-position: center; 
  }

  .handle {
    --corner-handle-size: 2rem;
    --handle-width: 1.6rem;
    --scene-handle-color: var(--rich-black);
    --scene-handle-border-color: var(--oxford-blue);

    position: absolute;
    background-color: var(--scene-handle-color);
    z-index: 10;
    border-width: 2px;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;

    &:hover:not(.noevents), &.selected:not(.noevents) {
      background-color: var(--dark-cyan);
      border-width: 0;
    }

    &.noevents {
      pointer-events: none;
    }

    &.left-handle {
      width: var(--handle-width);
      height: 100%;
      top: 0;
      left: calc(0rem - var(--handle-width));
      border-left-style: solid;
      border-left-color: var(--scene-handle-border-color);
      cursor: ew-resize;
    }

    &.top-left-handle {
      width: var(--handle-width);
      height: var(--corner-handle-size);
      top: calc(0rem - var(--handle-width));
      left: calc(0rem - var(--handle-width));
      border-top-left-radius: var(--handle-width);
      border-top-style: solid;
      border-top-color: var(--scene-handle-border-color);
      border-left-style: solid;
      border-left-color: var(--scene-handle-border-color);
      cursor: nw-resize;
    }

    &.top-handle {
      height: var(--handle-width);
      width: 100%;
      left: 0;
      top: calc(0rem - var(--handle-width));
      border-top-style: solid;
      border-top-color: var(--scene-handle-border-color);
      cursor: ns-resize;
    }

    &.top-right-handle {
      width: var(--handle-width);
      height: var(--corner-handle-size);
      top: calc(0rem - var(--handle-width));
      right: calc(0rem - var(--handle-width));
      border-top-right-radius: var(--handle-width);
      border-top-style: solid;
      border-top-color: var(--scene-handle-border-color);
      border-right-style: solid;
      border-right-color: var(--scene-handle-border-color);
      cursor: ne-resize;
    }

    &.right-handle {
      width: var(--handle-width);
      height: 100%;
      top: 0;
      right: calc(0rem - var(--handle-width));
      border-right-style: solid;
      border-right-color: var(--scene-handle-border-color);
      cursor: ew-resize;
    }

    &.bottom-right-handle {
      width: var(--handle-width);
      height: var(--corner-handle-size);
      bottom: calc(0rem - var(--handle-width));
      right: calc(0rem - var(--handle-width));
      border-bottom-right-radius: var(--handle-width);
      border-bottom-style: solid;
      border-bottom-color: var(--scene-handle-border-color);
      border-right-style: solid;
      border-right-color: var(--scene-handle-border-color);
      cursor: se-resize;
    }

    &.bottom-handle {
      height: var(--handle-width);
      width: 100%;
      left: 0;
      bottom: calc(0rem - var(--handle-width));
      border-bottom-style: solid;
      border-bottom-color: var(--scene-handle-border-color);
      cursor: ns-resize;
    }

    &.bottom-left-handle {
      width: var(--handle-width);
      height: var(--corner-handle-size);
      bottom: calc(0rem - var(--handle-width));
      left: calc(0rem - var(--handle-width));
      border-bottom-left-radius: var(--handle-width);
      border-bottom-style: solid;
      border-bottom-color: var(--scene-handle-border-color);
      border-left-style: solid;
      border-left-color: var(--scene-handle-border-color);
      cursor: sw-resize;
    }
  }
}
</style>
