<script setup lang="ts">
import { useNotificationsStore } from "@/stores/notifications"

const notificationsStore = useNotificationsStore()

</script>

<template>
  <div class="notifications">
    <TransitionGroup
      name="notifications"
      tag="div"
    >
      <div
        v-for="notification in notificationsStore.items"
        :key="notification.id"
        class="notification"
        :class="{ [notification.type]: true }"
      >
        {{ notification.content }} 
      </div>
    </TransitionGroup>
  </div>
</template>

  <style lang="scss">
.notifications {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: auto;
  z-index: 100;

  .notification {
    background-color: var(--floral-white);
    padding: 1rem 1.6rem;
    border-radius: 0.6rem;
    margin-top: 0.6rem;

    -webkit-box-shadow: 8px 8px 10px -4px rgba(0,0,0,0.31);
    -moz-box-shadow: 8px 8px 10px -4px rgba(0,0,0,0.31);
    box-shadow: 8px 8px 10px -4px rgba(0,0,0,0.31);

    .error {}
  }
  .notifications-enter-active,
  .notifications-leave-active {
    transition: all 0.3s var(--easing-swing);
  }
  .notifications-enter-from,
  .notifications-leave-to {
    opacity: 0;
    transform: translateX(30px);
  }

}
</style>
