:root {
  --bar-font-color: var(--floral-white);
  --bar-menu-color: var(--floral-white);
  --bar-font-family: var(--app-font);
  --bar-font-size: 1.4em;
  --bar-font-weight: 600;
  --bar-letter-spacing: 0.2px;
  --bar-padding: 0.2rem;
  --bar-button-icon-size: 20px;
  --bar-button-padding: 4px 6px;
  --bar-button-radius: 0px;
  --bar-button-hover-bkg: var(--bright-cyan);
  --bar-button-active-color: rgb(26, 115, 232);
  --bar-button-active-bkg: rgb(232, 240, 254);
  --bar-button-open-color: var(--space-cadet);
  --bar-button-hover-color: var(--space-cadet);
  --bar-button-open-bkg: var(--bright-cyan);
  --bar-menu-bkg: var(--rich-black);
  --bar-menu-border-radius: 0 0 2px 2px;
  --bar-menu-item-chevron-margin: 0;
  --bar-menu-item-hover-bkg: var(--bright-cyan);
  --bar-menu-item-hover-color: var(--space-cadet);
  --bar-menu-item-padding: 0.8em 0.8em 0.8em 1.5em;
  --bar-menu-item-icon-size: 15px;
  --bar-menu-item-icon-margin: 0 9px 0 -25px;
  --bar-menu-padding: 0px 0px;
  --bar-menu-shadow: 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  --bar-menu-separator-height: 1px;
  --bar-menu-separator-margin: 4px 0 4px 34px;
  --bar-menu-separator-color: rgb(227, 229, 233);
  --bar-separator-color: rgb(218, 220, 224);
  --bar-separator-width: 1px;
  --bar-sub-menu-border-radius: 3px;
}

.bar {
  background-color: var(--bar-menu-bkg);
  border-bottom: 1px solid var(--imperial-red) !important;
  .bar-button {
    > .label {
      font-weight: var(--bar-font-weight);
    }
  }
}
