.tree-container {
  height: 100%;
  width: 100%;

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;

    .arrow {
      margin-left: 1.2em;
      border-right: 2px solid var(--dark-cyan);
      border-bottom: 2px solid var(--dark-cyan);
    }

    .dom-tree-item {
      &.selected {
        background-color: var(--cornflower-blue);
      }
    }

    &.expanded {
      background-color: initial;
      .dom-tree-item {
        border-bottom: solid 2px var(--cornflower-blue);
      }
      .arrow {
        transform-origin: center center;
        transform: rotate(45deg);
      }
    }

    .drag-handle {
      padding: 0 !important;
      padding-top: 3px !important;
    }
  }

  .list-container {
    width: 60%;
    /* display: flex; */
    /* flex-direction: column; */
    height: auto;
    .list {
      /* border-bottom: 1px solid #ccc; */
      /* border-right: none; */
      min-width: 200px;
      min-height: initial;
      width: 100%;
    }
  }
}
