@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Black'), local('Akrobat-Black'),
        url('fonts/subset-Akrobat-Black.woff2') format('woff2'),
        url('fonts/subset-Akrobat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Light'), local('Akrobat-Light'),
        url('fonts/subset-Akrobat-Light.woff2') format('woff2'),
        url('fonts/subset-Akrobat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat ExtraBold'), local('Akrobat-ExtraBold'),
        url('fonts/subset-Akrobat-ExtraBold.woff2') format('woff2'),
        url('fonts/subset-Akrobat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Bold'), local('Akrobat-Bold'),
        url('fonts/subset-Akrobat-Bold.woff2') format('woff2'),
        url('fonts/subset-Akrobat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Regular'), local('Akrobat-Regular'),
        url('fonts/subset-Akrobat-Regular.woff2') format('woff2'),
        url('fonts/subset-Akrobat-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat ExtraLight'), local('Akrobat-ExtraLight'),
        url('fonts/subset-Akrobat-ExtraLight.woff2') format('woff2'),
        url('fonts/subset-Akrobat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Thin'), local('Akrobat-Thin'),
        url('fonts/subset-Akrobat-Thin.woff2') format('woff2'),
        url('fonts/subset-Akrobat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat SemiBold'), local('Akrobat-SemiBold'),
        url('fonts/subset-Akrobat-SemiBold.woff2') format('woff2'),
        url('fonts/subset-Akrobat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

