.arrow {
  display: inline-block;
  width:12px;
  height: 12px;
  border-right: 4px solid var(--dark-cyan);
  border-bottom: 4px solid var(--dark-cyan);
  transform: rotate(45deg);
  transform-origin: center center;
  transition: transform 0.3s 0s var(--easing-swing);
  cursor: pointer;

  &.up {
    transform: rotate(-135deg);
  }
  &.left {
    transform: rotate(135deg);
  }
  &.right {
    transform: rotate(-45deg);
  }
}

.icon {
  width: 2.4rem;
  height: 2.4rem;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &[data-icon="arrow-up"] {
    background-image: url("@/assets/icons/arrow-up.svg")
  }
}
