.input-controller {
  --select-border: #777;
  --select-focus: var(--cornflower-blue);
  --select-arrow: var(--select-border);

  overflow: hidden;
  select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1.5em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;

    // Stack above custom arrow
    z-index: 1;

    // Remove dropdown arrow in IE10 & IE11
    // @link https://www.filamentgroup.com/lab/select-css.html
    &::-ms-expand {
      display: none;
    }

    // Remove focus outline, will add on alternate element
    outline: none;
  }

  .select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;

    select,
    &::after {
      grid-area: select;
    }
    
    // not working on firefox
    // https://caniuse.com/css-has
    &:has(> select:focus) {
      &::after {
        background-color: white;
      }
    }


    border: none;
    padding: 0.25em 0.5em;

    cursor: pointer;
    line-height: 1.1;

    // Optional styles
    // remove for transparency
    background-color: transparent;

    // Custom arrow
    &:not(.select--multiple)::after {
      content: "";
      justify-self: end;
      width: 0.8em;
      height: 0.5em;
      background-color: var(--select-arrow);
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    }
  }

  // Interim solution until :focus-within has better support
  select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
  }

  select[multiple] {
    padding-right: 0;

    /*
     * Safari will not reveal an option
     * unless the select height has room to 
     * show all of it
     * Firefox and Chrome allow showing 
     * a partial option
     */
    height: 6rem;

    option {
      white-space: normal;

      // Only affects Chrome
      outline-color: var(--select-focus);
    }

    /* 
     * Experimental - styling of selected options
     * in the multiselect
     * Not supported crossbrowser
     */
    //   &:not(:disabled) option {
    //     border-radius: 12px;
    //     transition: 120ms all ease-in;

    //     &:checked {
    //       background: linear-gradient(hsl(242, 61%, 76%), hsl(242, 61%, 71%));
    //       padding-left: 0.5em;
    //       color: black !important;
    //     }
    //   }
  }

  .select--disabled {
    cursor: not-allowed;
    background-color: #eee;
    background-image: linear-gradient(to top, #ddd, #eee 33%);
  }

  label {
    font-size: 1.125rem;
    font-weight: 500;
  }

  .select + label {
    margin-top: 2rem;
  }
  
  input, textarea, select, .select {
    width: 100%;
    height: auto;
    background-color: inherit;
    color: var(--floral-white);
    border: none;
    outline: none;
    text-align: center;
    font-size: 1.2rem;
    z-index: 1;

    + .input-background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      transform-origin: center right;
      transform: scale(0, 1);
      transition: transform 250ms var(--easing-swing);
      background-color: var(--dark-cyan);
      z-index: 0;
    }

    &:focus { 
      + .input-background {
        transform: scale(1, 1);
      }
    }
  }

  textarea {
    text-align: initial;
    border: 1px solid var(--imperial-red);
  }
}

.color-input.user .box {
  width: 4.2em;
  height: 4.2em;
  border-radius: 50px;
  border-width: 0px;
}
