@import "./font.scss";
@import "./variables.scss";
@import "./base.scss";
@import "./icons.scss";
@import "./inputs.scss";
@import "./multimediaobject.scss";
@import "./tabs.scss";
@import "./file-toolbar.scss";

@import "../../node_modules/splitpanes/dist/splitpanes.css";
@import "@jledentu/vue-finder/dist/vue-finder.css";
@import "./finder.scss";

.splitpanes__splitter {background-color: #ccc;position: relative;}
.splitpanes__splitter:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.4s;
  background-color: rgba($imperial-red, 0.3);
  opacity: 0;
  z-index: 1;
}
.splitpanes__splitter:hover:before {opacity: 1;}
.splitpanes--vertical > .splitpanes__splitter:before {left: -10px;right: -10px;height: 100%;}
.splitpanes--horizontal > .splitpanes__splitter:before {top: -10px;bottom: -10px;width: 100%;}

