.multimediaobject {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  &.selected {
    -webkit-box-shadow: 0px 0px 6px 8px rgba(104,209,111,1);
    -moz-box-shadow: 0px 0px 6px 8px rgba(104,209,111,1);
    box-shadow: 0px 0px 6px 8px rgba(104,209,111,1);
  }
}
