.tab {
  padding: 0.2em 0.4em !important;
  margin: 0px 0px;
  color: var(--floral-white);
  cursor: pointer;
}
.active-tab {
  border-width: 0px;
  border-bottom-width: 2px;
  border-style: solid;
  font-weight: 900;
}
/* disable select highlight */
.tab-panels {
  height: 100%;
}

.tab-panel {
  box-sizing: border-box;
  height: 100%;
}
