/* https://coolors.co/131a2a-279185-e9c46a-fcf8ed-f8333c-5995ed */
$floral-white: rgb(252, 248, 237);
$black: rgb(14, 16, 22);
$rich-black: rgb(14, 20, 32);
$space-cadet: rgb(23, 23, 56);
$oxford-blue: rgb(25, 35, 56);
$bright-cyan: rgb(80, 226, 209);
$dark-cyan: rgb(39, 145, 133);
$somber-cyan: rgba(35, 128, 100, 0.5);
$safran: rgb(233, 196, 106);
$imperial-red: rgb(248, 51, 60);
$cornflower-blue: rgb(89, 149, 237);
$app-font: "Akrobat", Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;


$color-background: var(--black);
$color-text: var(--rich-black);

$easing-swing: cubic-bezier(.3,.41,.44,1.22);

:root { 
  --app-font: #{ $app-font };

  --floral-white: #{ $floral-white };
  --black: #{ $black };
  --rich-black: #{ $rich-black };
  --space-cadet: #{ $space-cadet };
  --oxford-blue: #{ $oxford-blue };
  --bright-cyan: #{ $bright-cyan };
  --dark-cyan: #{ $dark-cyan };
  --somber-cyan: #{ $somber-cyan };
  --safran: #{ $safran };
  --imperial-red: #{ $imperial-red };
  --cornflower-blue: #{ $cornflower-blue };


  --color-background: #{ $color-background };
  --color-text: #{ $color-text };

  --easing-swing: #{ $easing-swing };
}

