<script setup lang="ts">
/*
MultimediaObject-Editor
Copyright (C) 2023  OpenTool-Add

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

import VueFileToolbarMenu from 'vue-file-toolbar-menu'
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import MainScene from "@/components/MainScene.vue";
import LeftPanel from "@/components/panels/LeftPanel.vue";
import RightPanel from "@/components/panels/RightPanel.vue";
import AnimationPanel from "@/components/panels/AnimationPanel.vue";
import NotifyBox from "@/components/notifications/NotificationBox.vue";
import { ref, type Ref } from 'vue';
import { write_tree } from "@/api/fs";

const save = async () => {
  try {
    await write_tree()
  } catch (e) {
    console.error(e);
  }
};

const menuConfig = ref([
  {
    text: "File",
    menu: [
      {
        text: "Save",
        click: save,
        hotkey: "control+s"
      }
    ]
  }
]);

const animationOpen: Ref<boolean> = ref(false);
const leftPanelOpen: Ref<boolean> = ref(true);
const rightPanelOpen: Ref<boolean> = ref(true);

const onAnimationOpen = () => {
  animationOpen.value = !animationOpen.value
}
const onLeftPanelOpen = () => {
  leftPanelOpen.value = !leftPanelOpen.value
}
const onRightPanelOpen = () => {
  rightPanelOpen.value = !rightPanelOpen.value
}
</script>

<template>
  <VueFileToolbarMenu :content="menuConfig" />
  <NotifyBox />
  <main
    class="editor-view"
    :class="{
      'left-close': !leftPanelOpen,
      'right-close': !rightPanelOpen,
      'animation-open': animationOpen,
      'left-panel-open': leftPanelOpen && !rightPanelOpen,
      'right-panel-open': rightPanelOpen && !leftPanelOpen,
      'left-right-panel-open': rightPanelOpen && leftPanelOpen,
    }"
  >
    <LeftPanel @open="onLeftPanelOpen" />
    <MainScene />
    <RightPanel @open="onRightPanelOpen" />
    <footer
      class="footer"
    >
      <AnimationPanel @open="onAnimationOpen" /> 
    </footer>
  </main>
</template>

<style lang="scss">
.editor-view { 
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 93vh 4vh;
  grid-template-areas:
    "left main right"
    "footer footer footer";
  gap: 0.1rem;
  overflow-y: hidden;
  transition-property: grid-template-rows grid-template-columns;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: var(--easing-swing);

  &.animation-open {
    grid-template-rows: 52vh 45vh;
  }
  &.left-panel-open {
    grid-template-columns: 20% 1fr 50px;
  }
  &.right-panel-open {
    grid-template-columns: 50px 1fr 20%; 
  }
  &.left-right-panel-open {
    grid-template-columns: 20% 1fr 20%;
  }
  &.left-close {
    .left-panel {
      width: 50px;
      overflow: hidden;
      .tabs {
        height: 30px;
        width: 0px;
        overflow: hidden;
      }
      .tab-panels {
        display: none;
      }
    }
  }
  &.right-close {
    .right-panel {
      width: 50px;
      overflow: hidden;
      .tabs {
        height: 30px;
        width: 0px;
        overflow: hidden;
      }
      .tab-panels {
        display: none;
      }
    }
  }


  .left-panel {
    grid-area: left;
  }
  .main-scene-container {
    grid-area: main;
  }
  .right-panel {
    grid-area: right;
  }
  .footer {
    grid-area: footer;
    color: white;
    border-top: 1px solid var(--imperial-red);
    background-color: var(--rich-black); 
  }
}
</style>
